
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden auto;

  &__item {
    flex: 0 120px;
    margin: 0 20px 20px 0;
  }

  &-photo {
    border-radius: 4px;
    height: 135px;
    width: 120px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(255, 255, 255, 0.15);
      display: none;
    }

    &:hover::before {
      display: block;
    }

    &:hover .btn {
      display: inline-block;
    }
  }
}

