
.vision-photo-gallery {
  & * {
    box-sizing: border-box;
  }

  .btn {
    background: #666;
    border: 0;
    font-size: 10px;
    display: none;
    width: 100px;
    border-radius: 2px;
    height: 21px;
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 4px;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }

    &[data-action="choose"] {
      background: #4CAF50;
    }

    &[data-action="remove"] {
      background: #F44336;
    }
  }
}